.spanStyle {
  color: cornflowerblue;
  font-weight: 500;
}

.studentBio {
  text-align: center;
  opacity: .8;
  background-color: lightblue;
  padding: 20px;
  width: 600px;
  height: 200px;
}

.studentDiv {
  margin-top: 50px;
  border-bottom: 3px dotted lightgrey;
}




h3 {
  color: blueviolet;
  text-decoration: underline;
}